<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	>
    <testsuites>
        <testsuite name="WP Event Registration">
            <directory phpVersion="8.0.0" phpVersionOperator=">=" suffix=".php">./tests/</directory>
            <exclude>./tests/includes/</exclude>
            <exclude>./tests/SampleTest.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="checkInnerFormat" value="true" />
    </php>
</phpunit>
