// General colors.
$white: #fff;
$light-gray: #ddd;

// Table colors.
$table-background: #f5f5f5;
$table-header-background: #033d59;
$table-selected-background: #3498db;
$table-selected-text: #fff;
$table-hover-background: #d0e9f0;